<ul class="bandurria-comments">
    {{#each comments}}
        {{#if (eq ../thread_id parent_id)}}
            <li class="bandurria-comment" id="comment-{{id}}">
                <div class="bandurria-metas">
                    {{#if ../ctx.avatar}}
                        <img class="bandurria-avatar" loading="lazy" src="https://gravatar.com/avatar/{{avatar}}?s={{../ctx.avatar.size_full}}&r=g&d=mp" alt="" width="{{../ctx.avatar.size_image}}" height="{{../ctx.avatar.size_image}}" />
                    {{/if}}

                    <span class="bandurria-author">{{name}}</span>

                    <span class="bandurria-date">
                        <a href="#comment-{{id}}" data-datetime="{{datetime.utc}}">{{datetime.date}}, {{datetime.time}}</a>:
                    </span>
                </div>

                <div class="bandurria-body">
                    {{#each lines}}
                        <p>{{format-line this}}</p>
                    {{/each}}

                    <form
                        class="bandurria-form bandurria-form--reply"
                        data-reply-to="{{id}}"
                    >
                        <button
                            class="bandurria-reply"
                            type="button"
                        >{{../ctx.i18n.button_reply}}</button>
                    </form>

                    {{#if (lookup ../replies id)}}
                        {{> partials/comments thread_id=id comments=../comments replies=../replies ctx=../ctx }}
                    {{/if}}
                </div>
            </li>
        {{/if}}
    {{/each}}
</ul>
