<ul class="bandurria-comments">
    {{#each comments}}
        {{#if (eq ../thread_id parent_id)}}
            <li class="bandurria-comment" id="comment-{{id}}">
                <div class="bandurria-metas">
                    <span class="bandurria-author">{{name}}</span>
                    <span class="bandurria-date">{{date}}, {{time}}:</span>
                </div>

                <div class="bandurria-body">
                    {{#each text}}
                        <p>{{this}}</p>
                    {{/each}}

                    <form
                        class="bandurria-form bandurria-form--reply"
                        data-reply-to="{{id}}"
                    >
                        <button
                            class="bandurria-reply"
                            type="button"
                        >Reply</button>
                    </form>

                    {{#if (lookup ../replies id)}}
                        {{> partials/comments thread_id=id comments=../comments replies=../replies }}
                    {{/if}}
                </div>
            </li>
        {{/if}}
    {{/each}}
</ul>
