<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noindex" />
    </head>

    <body>
        <template class="bandurria-template bandurria-template--form">
            <textarea
                cols="1"
                rows="1"
                name="comment_text"
                placeholder="{{i18n.field_write_your_comment}}"
            ></textarea>

            <span class="bandurria-identity" style="display: none">
                <input
                    type="text"
                    name="comment_name"
                    placeholder="{{i18n.field_whats_your_name}}"
                />
                <input
                    type="email"
                    name="comment_email"
                    placeholder="{{i18n.field_whats_your_email}}"
                />
            </span>

            <button class="bandurria-submit" type="submit" disabled>{{i18n.button_post_comment}}</button>

            <span
                class="bandurria-banner bandurria-banner--presubmit"
                style="display: none"
            >
                {{i18n.banner_presubmit}}
            </span>

            <span
                class="bandurria-banner bandurria-banner--submitted"
                style="display: none"
            >
                <strong>{{i18n.banner_submitted_important}}</strong>
                {{i18n.banner_submitted_notice}}
            </span>

            <span
                class="bandurria-banner bandurria-banner--submiterror"
                style="display: none"
            >
                {{i18n.banner_submiterror}}
            </span>
        </template>

        <form class="bandurria-form bandurria-form--main">
            <p>{{i18n.label_leave_a_comment}}</p>

            <!-- Form template will be injected after this line. -->
        </form>

        {{#if comments}}
            {{> partials/comments comments=comments replies=replies i18n=i18n }}
        {{/if}}
    </body>
</html>
